html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    }
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
nav{
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    background-color: white;
       
 }
.navbar-brand{
    margin-left: 20px;
    font-weight: 600;
    color: #6406c2;  
}

/* ----------------------------Home Section start----------------------- */

/* -----------------------Animation Start--------------- */

 @keyframes  appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
#about img, #skills, #Qualification{
    animation: appear linear;
   animation-timeline: view();
   animation-range:entry 0;
} 


 
/* -----------------------Animation end--------------- */
.text-container h3{
font-weight: 700;
    margin-top: 200px;
    
}
.text-container h1{
    text-transform: uppercase;
    font-weight: 700;
}
.text-container p{
font-weight: 500;
color: rgb(63, 62, 62);
}
#home .link-section img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    
}
#home .link-section img:hover
{
    border: solid orangered 3px;
}

/* -------------------About Section----------------- */

#about{
    width:100%;
    height: auto;  
    position: relative;
    justify-content: center; 
    align-items: center;
    background-image: linear-gradient( 178.7deg,  rgba(126,184,253,1) 5.6%, rgba(2,71,157,1) 95.3% );
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img{
    width: 400px;
    height: 400px;
    border-radius: 30% 70% 37% 63% / 43% 43% 57% 57% ;
}
#about h1{

color: rgb(255, 255, 255);
}
#about p{
    font-weight: 500;
    color: rgb(235, 231, 231);
    
}
/* -------------------About Section----------------- */

/* -------------------Skills Section Start----------------- */
#skills{
    width: 100%;
    height: 500px;
margin-top: 50px;
    display: block;
}
.progress{
    width: 650px;  
}
.top-heading h2{
    font-weight: 700;
}
#skills .top-heading p{
    font-size: 14px;
    color:rgb(129, 2, 129);
}
/* -------------------Skills Section end----------------- */
.card{
    align-items: center;
     border: none;
}
/* ---------------------Qualification Section----------------- */
#Qualification{
    width: 100%;
height: auto;
position: relative;
   
}

.qualificaton-line{
    border-left: 6px solid rgb(113, 0, 128);
  height: 100px;
  margin-left: 50%;
  top: 0;
}
.qualification-rounder
{
    height: 20px;
  width: 20px;
  background-color:orangered;
  border-radius: 50%;
  display: inline-block;
  margin-left:90px;
}
.college-name{
    color:#6406c2 ;
}
/* ---------------------Qualification Section End  ----------------- */

/* ---------------------Project Section Start  ----------------- */
#project{
    width: 100%;
    height: 500px;
    display: block;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
   
}
#project .col-lg-4{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#project .col-lg-4{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#project .col-lg-4:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#project .col-lg-4:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
#project .container{
    margin-left:215px;
}
#project a{
    text-decoration: none;
}

#project .container-fluid img{
    width: 150px;
    height: 150px;
  
}
/* ------------------Contact section----------------------- */

#contact-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:black;
}
.text-section img{
color: white;
}

/* ---------------------------NEW css------------------------------------- */
/* ----------------------------Home Section start----------------------- */
#main-section-home{
    width: 100%;
    height:70vh;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}
.my-info{
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.my-info h3{
 font-size: 2vmax;
 font-weight: 600;
}
.my-info h1{
    font-size: 3vmax;
    font-weight: 700;
    color:rgb(185, 52, 4);
}
.my-info p{
    font-size:1vmax;
    color: rgb(54, 54, 54);
}
.my-image{
    height:30vmax;
    height: 30vmax;
    display: block;
    align-items: center;
    justify-content: center;
}
.my-image img{
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 37% 63% / 43% 43% 57% 57% ;
}
.my-links img{
width: 2.5vmax;
height:2.5vmax;
border: 3px solid gray;
border-radius: 10px;
}

/* ----------------------------Home Section end----------------------- */

#main-section-about{
    width: 100%;
    height:60vh;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.about-info h3{
    font-size: 2.5vmax;
 font-weight: 600;
}

.progress-bar {
    background-color: #4caf50; /* Green */
}
@media (max-width:600px) {
   .progress{
    width: 100%;

   }    
   #skills{
    margin-top: 100px;
   }
   .my-info h3{
    font-size: 3vmax;
    font-weight: 600;
   }
   .my-info h1{
    font-size: 4.5vmax;
    font-weight: 700;
    color:rgb(185, 52, 4);
}
.my-info p{
    font-size:1.5vmax;
    color: rgb(54, 54, 54);
}
.my-links img{
    width: 4vmax;
    height:4vmax;
    border: 3px solid gray;
    border-radius: 10px;
    margin-left: 13px;
    }
    #Qualification{
        width: 100%;
       margin: 0;
        margin-top: 400px;
        padding: 20px;
       
    }
    .qualification-rounder
{
    height: 20px;
  width: 20px;
  background-color:orangered;
  border-radius: 50%;
  display: block;
  margin-left:11px;
}
#contact{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 .contact-info{
margin-left: 90px;

 }
 .form-section{
   
   
 }
}

